/* You can add global styles to this file, and also import other style files */

@import "material.scss";


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { 
    background: #242424;
    color: #eee;
    height: 100%; 
    width: 100%;
    overflow: hidden;
}

html.cdk-global-scrollblock {
    overflow: hidden;
}

* {
    box-sizing: border-box;
    user-select: none;
}

p, span {
    user-select: all;
}

input[type=radio] {
    position: relative;

    &::before, &::after {
        content: " ";
        position: absolute;

        left: -1px;
        top: -1px;

        border-radius: 50%;

        transition: transform 200ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
        z-index: 1;
    }

    &::before {
        height: 15px;
        width: 15px;
        background-color: #353535;
        border: 1px solid #717171;
    }
    &::after {
        background-color: transparent;
        height: 6px;
        width: 6px;
        transform: translate3d(5.5px, 5.5px, 0);
    }
}

.resizeHandles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;

    .resize-handle-left,
    .resize-handle-right,
    .resize-handle-top,
    .resize-handle-bottom,
    .resize-handle-top-left,
    .resize-handle-top-right,
    .resize-handle-bottom-left,
    .resize-handle-bottom-right {
        pointer-events: all;
        position: absolute;
    }

    .resize-handle-top,
    .resize-handle-bottom {
        height: 5px;
        cursor: row-resize;
        width: 100%;
    }

    .resize-handle-left,
    .resize-handle-right {
        height: 100%;
        cursor: col-resize;
        width: 5px;
    }

    .resize-handle-top-left,
    .resize-handle-top-right,
    .resize-handle-bottom-left,
    .resize-handle-bottom-right {
        width: 5px;
        height: 5px;
        cursor: ne-resize;
        z-index: 2;
    }

    .resize-handle-top-left,
    .resize-handle-bottom-right {
        cursor: nw-resize;
    }

    .resize-handle-top,
    .resize-handle-top-left,
    .resize-handle-top-right {
        top: -2.5px;
    }

    .resize-handle-bottom,
    .resize-handle-bottom-left,
    .resize-handle-bottom-right {
        bottom: -2.5px;
    }

    .resize-handle-top-left,
    .resize-handle-bottom-left,
    .resize-handle-left {
        left: -2.5px;
    }

    .resize-handle-top-right,
    .resize-handle-bottom-right,
    .resize-handle-right {
        right: -2.5px;
    }
}

app-window-toolbar .container {
    display: flex;
    color: #ccc;

    .buttongroup {
        background-color: #303030;
        display: flex;

        label {
            align-self: center;
            padding: 0 6px;
        }

        button {
            border-radius: 0;
            background-color: #404040;
            border: 1px solid #272727;
            border-right: none;
            border-bottom-color: #0d0d0d;
            position: relative;

            &[disabled] {
                background-color: #343434;
                border-bottom-color: #272727;
            }
        }
        &:first-child {
            border: 1px solid #252525;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-child {
            border: 1px solid #252525;
            border-top-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    button {
        border: 1px solid #272727;
        border-bottom-color: #0d0d0d;
        background-color: #404040;
        border-radius: 5px;
        width: 36px;
        height: 34px;
        color: #fff;

        &>img {
            height: 100%;
            width: 100%;
            padding: 3px;
        }

        &:active {
            border-color: #141313;
            background-color: #242424;
        }
        .button-dialog {
            position: absolute;
            background-color: #353535;
            border: 1px solid #202020;
            padding: 12px;
            border-radius: 5px;
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
            left: 50%;
            top: calc(100% + 8px);
            transform: translate3d(-50%, 10px, 0px);
            list-style: none;
            margin: 0;

            li {
                display: flex;
                justify-content: space-between;
                padding: 5px 0px;

                &:active {
                    background-color: transparent;
                }
                &.selected input[type=radio] {
                    &::before {
                        background-color: #fbb86c;
                        border: 1px solid #fbb86c;
                    }
    
                    &::after {
                        background-color: #000;
                    }
                }
            }
            &::before {
                content: " ";
                position: absolute;
                background-color: #353535;
                width: 14px;
                height: 14px;
                transform-origin: center;
                transform: translate3d(-9.5px, -20px, 0px) rotate(45deg);
                z-index: -1;
                border: 1px solid #333333;
                border-right-color: transparent;
                border-bottom-color: transparent;
            }
        }
    }

    .breadcrumb {
        border: 1px solid #171717;
        border-bottom-color: #000;
        height: 100%;
        font-size: 14px;

        ul {
            display: flex;
            height: 100%;
            align-items: center;
            margin: 0;
            list-style: none;
                
            li {
                position: relative;
                padding: 0px 12px;
                &::after {
                    content: "/";
                    position: absolute;
                    left: calc(100% - 0.25em);
                }

                &:last-of-type {
                    font-weight: bold;
                    &::after {
                        content: '';
                    }
                }
            }
        }
    }

    hr {
        border: 1px solid #303030;
    }


    input[type=checkbox] {
        background-color: #fbb86c;
    }

    span.seperator {
        width: 100%;
        display: block;
        position: relative;

        &::before {
            content: " ";
            position: absolute;
            height: 1px;
            background-color: #303030;
            left: 0;
            right: 0;
            top: 50%;
            z-index: -1;
        }
        &::after {
            content: " ";
            position: absolute;
            height: 100%;
            top: 0;
            background-color: #353535;
            width: 40px;
            left: 0;
            z-index: -1;
            transform: translate3d(37px, 0px, 0px);
        }
    }
}

