/* You can add global styles to this file, and also import other style files */

@import "material.scss";


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { 
    background: #242424;
    color: #eee;
    height: 100%; 
    width: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}