app-root {
    z-index: 1;
    position: relative;
}


.taskbar-left,
.taskbar-right {
    .dots {
        flex-direction: column;
        padding: 0 4px;
        height: 64px;
    }

    app-taskbar {
        width: 64px;
        height: 100%;
    }

    .cdk-overlay-pane {
        top: 0;
        bottom: 0;
    }
}

.taskbar-right {
    flex-direction: row-reverse;

    .task-button {
        flex-direction: row-reverse;

        .tooltip {
            right: 100%;
        }
        .picker {
            right: 100%;
            top: 0;
            animation: slide-in-right 200ms ease;
            margin-left: 0;
            margin-right: 6px;
        }
    }

    .cdk-overlay-pane {
        left: 0;
        right: 64px;
    }
}

.taskbar-left {
    flex-direction: row;

    .task-button {
        .tooltip {
            left: 100%;
        }

        .picker {
            top: 0;
            left: 100%;
            animation: slide-in-left 200ms ease;
        }
    }

    .cdk-overlay-pane {
        left: 64px;
        right: 0;
    }
}

.taskbar-top,
.taskbar-bottom {
    flex-direction: column;

    app-taskbar {
        height: 64px;
        width: 100%;
    }

    .dots {
        padding: 4px 0;
        width: 64px;
    }

    .taskbar {
        height: 48px;
        width: 100%;

        .task-button {
            .icon {
                height: 48px;
                top: 0;
            }

            .tooltip {
                align-items: center;
            }
        }

        .picker {
            width: unset!important;
            max-width: calc(100vw - 12px);
            height: 264px;
        }
    }
}


.taskbar-top {

    .task-button {
        .tooltip {
            top: 100%;
        }

        .picker {
            top: 100%;
            left: 0;
            animation: slide-in-top 200ms ease;
        }
    }
}

.taskbar-bottom {
    flex-direction: column-reverse;

    .task-button {
        .tooltip {
            bottom: 100%;
        }

        .picker {
            left: 0;
            bottom: 100%;
            animation: slide-in-bottom 200ms ease;
            margin-bottom: 6px;
        }
    }
}