:host {
    position: relative;
}

button {
    padding: 0;
    min-width: 36px;
    background-color: var(--gtk-button-background-color);
    color: var(--gtk-button-color);
}

mat-icon {
    margin: 0 !important;
}
