@import "@fontsource/fira-mono";
@import "@fontsource/fira-sans";

@mixin pop-dark() {
    // input
    --gtk-input-radius: 3px;

    --gtk-text-color: #bcbcbc;
    --gtk-text-emphasis-color: #fff;
    --gtk-text-muted-color: #fff;
    --gtk-font-family: 'Fira Sans';
    --gtk-font-size: 14px;

    --gtk-inactive-text-color: #fff;

    --gtk-text-highlight-color: #fff;


    --gtk-window-toolbar-height: #fff;
    --gtk-window-radius: 3px;
    --gtk-window-background-color: #363636;

    --gtk-button-text-color: #fff;
    --gtk-button-border-color: #272727;
    --gtk-button-border-bottom-color: #0d0d0d;
    --gtk-button-background-color: #404040;

    --gtk-list-item-active-text-color: #000;
    --gtk-list-item-background-active-color: #94ebeb;
    --gtk-list-item-background-hover-color: #343434;

    --gtk-input-background-color: #222;
    --gtk-input-active-border-color: #af8556;
    --gtk-input-radius: 3px;

    // Restate colors for inactive windows
    .window.inactive {
        --gtk-window-background-color: #363636;
        --gtk-button-text-color: #a2a2a2;
        --gtk-button-background-color: #0000;
        --gtk-button-border-color: #434343;
        --gtk-button-border-bottom-color: var(--gtk-button-border-color);
    }
}
