<app-window-template [window]="windowRef">
    <ng-template #toolbar>
        <div class="buttongroup">
            <button>
                <img src="assets/icons/actions/go-previous-symbolic.svg" />
            </button>
            <button [disabled]='true'>
                <img src="assets/icons/actions/go-next-symbolic.svg" />
            </button>
        </div>
        <span></span>
        <div class="breadcrumb" *ngIf="currentTab" style="flex: 1">
            <ng-container *ngFor="let crumb of currentTab.breadcrumb">
                <button *ngIf="crumb.label.trim()" (click)="onBreadcrumbClick(crumb)">{{crumb.label}}</button>
            </ng-container>
        </div>
        <app-button-popout img="assets/icons/actions/view-more-symbolic.svg">
            <ng-template #dialogTemplate>
                <div class="buttongroup border">
                    <button>
                        <img src="assets/icons/actions/appointment-new-symbolic.svg" />
                    </button>
                    <button>
                        <img src="assets/icons/actions/tab-new-symbolic.svg" />
                    </button>
                    <button>
                        <img src="assets/icons/actions/folder-new-symbolic.svg" />
                    </button>
                </div>
                <li>New Folder</li>
                <li>Add to Bookmarks</li>
                <hr />
                <li>Paste</li>
                <li>Select All</li>
                <hr />
                <li>Open in Terminal</li>
                <hr />
                <li>Propetries</li>
            </ng-template>
        </app-button-popout>

        <button>
            <img src="assets/icons/actions/edit-find-symbolic.svg"/>
        </button>
        <span></span>
        <div class="buttongroup">
            <button (click)="currentTab.viewMode = (currentTab.viewMode == 'grid' ? 'list' : 'grid')">
                <img [src]="currentTab.viewMode == 'list' ? 'assets/icons/actions/view-list-symbolic.svg' : 'assets/icons/actions/view-grid-symbolic.svg'">
            </button>
            <app-button-popout img="assets/icons/actions/pan-down-symbolic.svg">
                <ng-template #dialogTemplate>
                    <div class="buttongroup">
                        <button>
                            <img src="assets/icons/actions/zoom-out-symbolic.svg" />
                        </button>
                        <label>67%</label>
                        <button>
                            <img src="assets/icons/actions/zoom-in-symbolic.svg" />
                        </button>
                    </div>

                    <span class="seperator">Sort</span>

                    <li (click)="sortOrder = 'a-z'" [class.selected]="sortOrder == 'a-z'">A-Z <input type="radio" /></li>
                    <li (click)="sortOrder = 'z-a'" [class.selected]="sortOrder == 'z-a'">Z-A <input type="radio" /></li>
                    <li (click)="sortOrder = 'lastmod'" [class.selected]="sortOrder == 'lastmod'">Last Modified <input type="radio" /></li>
                    <li (click)="sortOrder = 'firstmod'" [class.selected]="sortOrder == 'firstmod'">First Modified <input type="radio" />
                    </li>
                    <li (click)="sortOrder = 'size'" [class.selected]="sortOrder == 'size'">Size <input type="radio" /></li>
                    <li (click)="sortOrder = 'type'" [class.selected]="sortOrder == 'type'">Type <input type="radio" /></li>

                    <hr />

                    <div (click)="ngOnInit()">reload</div>
                </ng-template>
            </app-button-popout>
            <app-button-popout img="assets/icons/actions/open-menu-symbolic.svg">
                <ng-template #dialogTemplate>
                    <div class="buttongroup border">
                        <button>
                            <img src="assets/icons/actions/appointment-new-symbolic.svg" />
                        </button>
                        <button>
                            <img src="assets/icons/actions/tab-new-symbolic.svg" />
                        </button>
                        <button>
                            <img src="assets/icons/actions/folder-new-symbolic.svg" />
                        </button>
                    </div>
                    <li>Undo Create Folder</li>
                    <li>Redo</li>
                    <hr />
                    <li>
                        <label>
                            Show hidden files
                        </label>
                        <input type="checkbox" [(ngModel)]="showHiddenFiles" (ngModelChange)="1">
                    </li>
                    <li>
                        <label>
                            Show sidebar
                        </label>
                        <input type="checkbox" [(ngModel)]="showSidebar">
                    </li>
                    <hr />
                    <li>Perferences</li>
                    <li>Keyboard Shortcuts</li>
                    <li>Help</li>
                    <li>About Files</li>
                </ng-template>
            </app-button-popout>
        </div>
    </ng-template>
    <ng-template #content>
        <as-split direction="horizontal" [gutterSize]="1">
            <as-split-area [size]="20">
                <div class="sidebar" *ngIf="showSidebar" (click)="currentTab.selection = []">
                    <ul>
                        <li>Recent</li>
                        <li>Starred</li>
                        <li>Home</li>
                        <li #li (hover)="li['hover']=true" (mouseout)="li['hover']=false">
                            Desktop
                            <!-- <div class="tooltip" [class.visible]="li['hover']">/home/knackstedt/Downloads</div> -->
                        </li>
                        <li>Documents</li>
                        <li>Downloads</li>
                        <li>Music</li>
                        <li>Pcitures</li>
                        <li>Videos</li>
                        <li>Trash</li>
                    </ul>
                    <ul>
                        <li>mounted f:/</li>
                        <li>mounted disk</li>
                    </ul>
                    <ul>
                        <li>data on ftp</li>
                        <li>data on smb</li>
                    </ul>
                    <ul>
                        <li>+ other locations</li>
                    </ul>
                </div>
            </as-split-area>
            <as-split-area [size]="80" style="background-color: #272727;">
                <div class="content"
                    [class.active]="windowRef._isActive"
                    [style.--tab-height]="tabs.length > 1 ? '36px' : '0'"
                >
                    <mat-tab-group (selectedTabChange)="currentTab = tabs[$event.index]">
                        <mat-tab *ngFor="let tab of tabs">
                            <ng-template mat-tab-label>
                                {{tab.label}}
                                <mat-icon
                                    class="close"
                                    (click)="closeTab(tab)">
                                    close
                                </mat-icon>
                            </ng-template>

                            <ng-template matTabContent>
                                <app-file-grid
                                    [window]="windowRef"
                                    [(path)]="tab.path"
                                    (pathChange)="tabPathChange(tab)"
                                    [(selection)]="tab.selection"
                                    (fileOpen)="onFileOpen($event)"
                                    [viewMode]="tab.viewMode"
                                />
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </as-split-area>
        </as-split>
    </ng-template>
</app-window-template>
