:host { 

    display: flex;
    height: 100%;



    &.active .sidebar {
        background-color: #2c2c2c;
        border-right-color: #1c1c1c;
        li {
            &:hover {
                background-color: #343434
            }
        }
    }
}

.sidebar {
    background-color: #323232;
    border-right: 1px solid transparent;
    ul {
        list-style-type: none;
        text-align: left;
        li {
            transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
        }
        .tooltip {
            background-color: #101010cc;
            border: 1px solid #414141;
            opacity: 0;
            pointer-events: none;
            transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
        }
    }
}

.files {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    justify-content: space-between;
    grid-gap: 20px;
    grid-auto-rows: min-content;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    
    .file {
        height: 100px;
        width: 80px;

        img {

        }
        p {
            margin: 0;
        }
    }
}

