:host {
    flex: 1;
    overflow: hidden;
    position: absolute;
    z-index: 1;

    background-image: url(https://unsplash.com/photos/KNhVlMjkNjs/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjYzMzc5ODAw&force=true);
    background-repeat: no-repeat;
    background-size: cover;

    // Index via the top left corner
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .window {
        pointer-events: auto;
    }
}
