<div class="windowManager"
    [style.top]="(configuration.topOffset ? configuration.topOffset : 0) + 'px'"
    [style.right]="(configuration.rightOffset ? configuration.rightOffset : 0) + 'px'"
    [style.bottom]="(configuration.bottomOffset ? configuration.bottomOffset : 0) + 'px'"
    [style.left]="(configuration.leftOffset ? configuration.leftOffset : 0) + 'px'"
    [style.margin-bottom]="(configuration.topOffset || configuration.bottomOffset) + 'px'"
    [style.margin-right]="(configuration.leftOffset || configuration.rightOffset) + 'px'"
>
    <app-window
        *ngFor="let window of windowManager.managedWindows"
        [id]="'window_' + window.id"
        [style]="window.customCss"
        [window]="window"
        (pointerDown)="window.activate()"
        [class.native]="window.appId == 'native'"
        [class.dialog]="window._nativeWindowType?.includes('DIALOG')"
        [class.resizable]="!window._isCollapsed && !window._isMaximized && window.isResizable"
        [class.draggable]="!window._isCollapsed && !window._isMaximized && window.isDraggable"
        [class.active]="window._isActive"
        [class.draggedOver]="window._isDraggedOver"
        [class.maximized]="window._isMaximized"
        [class.collapsed]="window._isCollapsed"
        [class.borderless]="window._isBorderless"
        [style.z-index]="window._index"
        [style.width]="window.width + 'px'"
        [style.height]="window.height + 'px'"
        [style.transform]="'translate3d(' + window.x + 'px, ' + window.y + 'px, 0)'">
    </app-window>
</div>
