:host {
    display: flex;
    background-color: #36322f;
    height: 100%;

    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding: 40px;
}

.search {
    // width: 524px;
    width: 27.29vw;
    height: 38px;
    font-size: 15.5px;
    margin-bottom: 10px;
}

hr {
    width: 100%;
    border: 1px solid black;
    border-bottom: none;
}

:host ::ng-deep {
    .mat-mdc-tab-group {
        height: 0;
        flex: 1;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .mat-mdc-tab-body-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, 168px);
        justify-content: space-around;
        grid-auto-rows: min-content;
        padding: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        flex: 1;

        .app {
            width: 168px;
            height: 168px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            border-radius: 8px;

            transition: background-color 100ms ease;

            &:hover {
                background-color: #494542;
            }

            img {
                width: 72px;
                height: 72px;
            }

            p {
                text-align: center;
            }
        }
    }

    .mat-mdc-tab-labels .mat-mdc-tab-label {
        padding: 0;
        min-width: unset;
        width: 120px;
        height: 84px;
        border-radius: 9px;

        &.mat-mdc-tab-label-active {
            background: #5a5754
        }

        .mat-mdc-tab-label-content {
            flex-direction: column;

            img {
                width: 28px;
                height: 28px;
            }
        }
    }
}
