<!-- <input class="search" type="text" [(ngModel)]="search" placeholder="&nbsp;&nbsp;Type to search" /> -->

<!-- <div class="drawer">
    <-- <ng-container *ngFor="let app of _filterApps()">
        <div *ngIf="app.icon && app.title" class="app" (click)="windowManager.openWindow(app); dialogRef.close()">
            <img [src]="app.icon"/>
            <p>{{app.title}}</p>
        </div>
    </ng-container> ->
</div>
<hr/>
<div>
    <div>Library Home</div>
    <div>Office</div>
    <div>System</div>
    <div>Utilities</div>
    <div>Create folder</div>
</div> -->

<!--
<mat-tab-group>
    <mat-tab *ngFor="let category of menu">
        <ng-template mat-tab-label>
            <img [src]="category.icon">
            <div>{{category.name}}</div>
        </ng-template>

        <ng-container *ngFor="let app of category.entries">
            <div *ngIf="app.icon && app.name" class="app" (click)="openApp(app)">
                <img [src]="app.icon" />
                <p>{{app.name}}</p>
            </div>
        </ng-container>
    </mat-tab>
</mat-tab-group> -->


<mat-tab-group>
    <ng-container *ngFor="let menu of menus">
        <mat-tab *ngIf="menu.apps.length > 0">

            <ng-template mat-tab-label>
                <img [src]="menu.icon">
                <div>{{menu.label}}</div>
            </ng-template>

            <ng-container *ngFor="let app of menu.apps">
                <div *ngIf="app.id" class="app" (click)="openApp(app)">
                    <ng-container [ngSwitch]="app.iconType">
                        <mat-icon *ngSwitchCase="'mat-icon'" [fontIcon]="app.iconSrc" />
                        <img *ngSwitchCase="'src'" [src]="app.iconSrc" />
                    </ng-container>
                    <p>{{app.label || app.id}}</p>
                </div>
            </ng-container>
        </mat-tab>
    </ng-container>
</mat-tab-group>
