:host {
    height: 100%;
}

:host {
    @import '@swimlane/ngx-datatable/index.css';
    @import '@swimlane/ngx-datatable/themes/material.css';
    @import '@swimlane/ngx-datatable/assets/icons.css';
}

img {
    position: relative;

    &:before,
    &:after {
        content: ' ';
        display: block;
        position: absolute;

        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        background: var(--panel-background-color);
    }
    &:after {
        z-index: 1;
        opacity: .5;
        background-image: url(../../../assets/icons/mimetypes/media-optical-symbolic.svg);
    }
}

.group-item {
    display: flex;
    align-items: center;
    font-size: 14px;

    .photo {
        margin-right: 8px;
        padding: 4px;
        img {
            max-width: 48px;
            max-height: 48px;
            width: 48px;
            height: 48px;
            object-fit: contain;
            object-position: center;
        }
    }

    .text {
        .name {
            font-weight: bolder;
        }
        .subtext {
            font-size: 12px;
            font-weight: lighter;
        }
    }
}


.controls {
    height: 48px;
    width: 100%;

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 48px;
        display: flex;
        background-color: var(--background-color);
    }

    .seeker {
        flex: 1;
        display: flex;
        flex-direction: column;

        .top {
            position: relative;
            display: flex;
            font-size: 14px;
            top: 10px;
        }

        .title {
            position: absolute;
            font-weight: bolder;
            color: var(--text-bright-color);
        }

        .duration {
            position: absolute;
            right: 12px;
        }

        .slider {
            position: relative;
            z-index: 1;
            height: 100%;

            mat-slider {
                position: absolute;
                left: 0;
                right: 0;
                top: 10px;
                z-index: 5;
                margin-left: 0;
            }

            app-waveform {
                height: 100%;
                width: 100%;
                position: absolute;
                z-index: 2;
            }
        }
    }

    .volume {
        display: flex;
        align-items: center;
    }
}

:host ::ng-deep {

    .mat-mdc-slider .mdc-slider__track {
        --mdc-slider-inactive-track-height: 3px;
        --mdc-slider-active-track-height: 3px;
        --mdc-slider-inactive-track-color: #dfdfdf;
    }

    .mat-mdc-slider .mdc-slider__thumb-knob {
        width: 16px;
        height: 16px;
        --mdc-slider-handle-width: 4px;
        --mdc-slider-handle-height: 4px;
    }
}


.queue {

    tr {

    }

    .img {
        max-width: 48px;
        max-height: 48px;
        object-fit: contain;
        object-position: center;
    }
    .title {
        display: inline-block;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
    }
    .duration {
        text-align: center;
    }
}

.track,
.group-item {
    text-align: left;
}


// :host ::ng-deep {

//     datatable-row-wrapper {
//         background-color: var(--panel-background-color);

//         &:nth-child(even) {
//             background-color: var(--table-row-alt-background-color);
//         }
//         &:hover {
//             background-color: var(--table-row-hover-background-color);
//         }

//         datatable-body-cell {
//             padding: 4px 6px;
//             text-overflow: ellipsis;
//             white-space: pre;
//         }
//     }
// }
