<app-window-template [window]="window">
    <ng-template #toolbar>
        Checksum information
    </ng-template>
    <ng-template #content>
        <div style="height: 100%; display: flex; flex-direction: column;">
            <mat-tab-group>
                <mat-tab label="Music">
                    <as-split [gutterSize]="2">
                        <as-split-area [minSize]="156/2" [size]="156">
                            <ng-scrollbar
                                style="height: 100%; width: 100%"
                                track="vertical"
                                pointerEventsMethod="scrollbar"
                                [ngx-ctx-menu]="groupedCtxItems"
                            >
                                <div class="resize-observer" #fileViewport></div>
                                <cdk-virtual-scroll-viewport
                                    itemSize="64"
                                    scrollViewport
                                >
                                    <div class="group-item" *ngFor="let item of groupItems">
                                        <div class="photo">
                                            <img [src]="item.image"/>
                                        </div>
                                        <div class="text">
                                            <div class="name">{{item.label}}</div>
                                            <div class="subtext">{{item.items.length}} album(s)</div>
                                        </div>
                                    </div>
                                </cdk-virtual-scroll-viewport>
                            </ng-scrollbar>
                        </as-split-area>
                        <as-split-area [minSize]="10">
                            <ng-scrollbar
                                style="height: 100%; width: 100%"
                                track="vertical"
                                pointerEventsMethod="scrollbar"
                                [ngx-ctx-menu]="musicCtxItems"
                            >
                                <div class="resize-observer" #fileViewport></div>
                                <cdk-virtual-scroll-viewport
                                    itemSize="134"
                                    scrollViewport
                                >
                                    <table>
                                        <tr *cdkVirtualFor="let item of tracks">
                                            <td>{{item.name}}</td>
                                            <td>{{item.artist}}</td>
                                        </tr>
                                    </table>
                                </cdk-virtual-scroll-viewport>
                            </ng-scrollbar>
                        </as-split-area>
                        <as-split-area [minSize]="156/2" [size]="156">
                            <ng-scrollbar
                                style="height: 100%; width: 100%"
                                track="vertical"
                                pointerEventsMethod="scrollbar"
                                [ngx-ctx-menu]="queueCtxItems"
                            >
                                <div class="resize-observer" #fileViewport></div>
                                <cdk-virtual-scroll-viewport
                                    itemSize="134"
                                    scrollViewport
                                >
                                    <div *ngFor="let item of []">
                                        <div>
                                            <img src="1" />
                                        </div>
                                        <div>
                                            <div>Artist Name</div>
                                            <div>1 album(s)</div>
                                        </div>
                                    </div>
                                </cdk-virtual-scroll-viewport>
                            </ng-scrollbar>
                        </as-split-area>
                    </as-split>
                </mat-tab>
                <mat-tab label="Now Playing">
                    <ng-template matTabContent>
                        <app-visualizer
                            #visualizer
                            *ngIf="player && player.mediaElement"
                            [mediaElement]="player.mediaElement"
                            (load)="visualizer.start(player.context, player.analyzer, player.source)"
                        />
                    </ng-template>
                </mat-tab>
                <mat-tab label="Playlists"></mat-tab>
                <mat-tab label="Music Explorer"></mat-tab>
                <mat-tab label="Podcasts"></mat-tab>
            </mat-tab-group>
            <app-player #player [visualizer]="visualizer" [showVisualizer]="false"></app-player>
        </div>

    </ng-template>
</app-window-template>
