<app-window-template [window]="window">
    <ng-template #toolbar>
        Checksum information
    </ng-template>
    <ng-template #content>
        <div style="height: 100%; display: flex; flex-direction: column;">
            <mat-tab-group *ngIf="media">
                <mat-tab label="Music">
                    <as-split [gutterSize]="2">
                        <as-split-area [minSize]="156/2" [size]="156">
                            <ng-scrollbar
                                style="height: 100%; width: 100%"
                                track="vertical"
                                pointerEventsMethod="scrollbar"
                                [ngx-ctx-menu]="groupedCtxItems"
                            >
                                <div class="resize-observer" #fileViewport></div>
                                <cdk-virtual-scroll-viewport
                                    itemSize="64"
                                    scrollViewport
                                >
                                    <div class="group-item" *ngFor="let item of groupItems">
                                        <div class="photo">
                                            <img [src]="item.image"/>
                                        </div>
                                        <div class="text">
                                            <div class="name">{{item.label}}</div>
                                            <div class="subtext">{{item.items.length}} album(s)</div>
                                        </div>
                                    </div>
                                </cdk-virtual-scroll-viewport>
                            </ng-scrollbar>
                        </as-split-area>
                        <as-split-area [minSize]="10">
                            <ng-scrollbar
                                style="height: 100%; width: 100%"
                                track="vertical"
                                pointerEventsMethod="scrollbar"
                                [ngx-ctx-menu]="musicCtxItems"
                            >
                                <div class="resize-observer" #fileViewport></div>
                                <cdk-virtual-scroll-viewport
                                    itemSize="134"
                                    scrollViewport
                                >
                                    <table>
                                        <tr *cdkVirtualFor="let item of tracks">
                                            <td>{{item.name}}</td>
                                            <td>{{item.artist}}</td>
                                        </tr>
                                    </table>
                                </cdk-virtual-scroll-viewport>
                            </ng-scrollbar>
                        </as-split-area>
                        <as-split-area [minSize]="156/2" [size]="156">
                            <ng-scrollbar
                                style="height: 100%; width: 100%"
                                track="vertical"
                                pointerEventsMethod="scrollbar"
                                [ngx-ctx-menu]="queueCtxItems"
                            >
                                <div class="resize-observer" #fileViewport></div>
                                <cdk-virtual-scroll-viewport
                                    itemSize="134"
                                    scrollViewport
                                >
                                    <div *ngFor="let item of []">
                                        <div>
                                            <img src="1" />
                                        </div>
                                        <div>
                                            <div>Artist Name</div>
                                            <div>1 album(s)</div>
                                        </div>
                                    </div>
                                </cdk-virtual-scroll-viewport>
                            </ng-scrollbar>
                        </as-split-area>
                    </as-split>
                </mat-tab>
                <mat-tab label="Now Playing">
                    <ng-template matTabContent>
                        <app-visualizer
                            #visualizer
                            [mediaElement]="media"
                            (load)="visualizer.start(context, analyzer, source)"
                        />
                    </ng-template>
                </mat-tab>
                <mat-tab label="Playlists"></mat-tab>
                <mat-tab label="Music Explorer"></mat-tab>
                <mat-tab label="Podcasts"></mat-tab>
            </mat-tab-group>

            <div class="controls">

                <audio
                    #media
                    crossorigin="anonymous"
                    (timeupdate)="onTimeUpdate()"
                    (pause)="onPause()"
                    (ended)="onEnd()"
                >
                </audio>

                <div class="overlay">
                    <div class="nav-controls">
                        <button mat-icon-button (click)="playPrevious()"><mat-icon>skip_previous</mat-icon></button>

                        <button mat-icon-button *ngIf="state != 'playing'" (click)="onPlay()"><mat-icon>play_arrow</mat-icon></button>
                        <button mat-icon-button *ngIf="state == 'playing'" (click)="media.pause()"><mat-icon>pause</mat-icon></button>

                        <button mat-icon-button (click)="playNext()"><mat-icon>skip_next</mat-icon></button>
                    </div>

                    <div class="seeker">
                        <div class="top">
                            <div class="title">{{currentTrack?.title || "no file specified"}}</div>
                            <!-- <div class="duration" *ngIf="duration == 0">0:00:00</div> -->
                            <!-- <div class="duration" *ngIf="duration != 0">{{numToString(currentTime)}}/{{numToString(duration)}}</div> -->
                            <div class="duration">{{progress}}::{{numToString(currentTime)}}/{{numToString(duration)}}</div>
                        </div>
                        <div class="slider">
                            <mat-slider>
                                <input
                                    #progressSlider
                                    matSliderThumb
                                    [min]="0"
                                    [max]="100"
                                    [step]=".1"
                                    [(value)]="progress"
                                    (valueChange)="media.currentTime = $event*duration/100"
                                    (pointermove)="
                                        currentTime = progressSlider.valueAsNumber*duration/100;
                                        (
                                            (media.currentTime - currentTime) > 3 ||
                                            (media.currentTime - currentTime) < -3
                                        ) ? media.currentTime = currentTime : null;
                                        progress = progressSlider.valueAsNumber
                                    "
                                >
                            </mat-slider>
                        </div>
                        <!-- [value]="progress" (valueChange)="media.currentTime = media.duration*progress/100" -->
                    </div>

                    <div class="volume">
                        <mat-icon *ngIf="volume <= .1">volume_mute</mat-icon>
                        <mat-icon *ngIf="volume > .1 && volume < 50">volume_down</mat-icon>
                        <mat-icon *ngIf="volume > 50">volume_up</mat-icon>

                        <mat-slider>
                            <input
                                #volumeSlider
                                matSliderThumb
                                [min]="0"
                                [max]="100"
                                [value]="volume"
                                (wheel)="volumeOnWheel($event)"
                                (pointermove)="volume = volumeSlider.valueAsNumber; media.volume = (volume / 100)"
                            >
                        </mat-slider>
                    </div>
                    <!-- TODO: Equalizer -->
                    <!-- <button><mat-icon>equalizer</mat-icon></button> -->

                    <div class="">
                        <button mat-icon-button (click)="isRepeating = !isRepeating">
                            <mat-icon *ngIf="!isRepeating">repeat</mat-icon>
                            <mat-icon *ngIf="isRepeating">repeat_on</mat-icon>
                        </button>

                        <button mat-icon-button (click)="isShuffling = !isShuffling">
                            <mat-icon *ngIf="!isShuffling">shuffle</mat-icon>
                            <mat-icon *ngIf="isShuffling">shuffle_on</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</app-window-template>
