<cdk-virtual-scroll-viewport itemSize="19">

</cdk-virtual-scroll-viewport>

<div class="controls">
    <div>
        <h4>Log Filter</h4>
        <span>Showing 44 log lines</span>
    </div>
    <div>
        <!-- <input>: Textbox -->
        <button></button>
        <button>asc/desc</button>
        <button>case sensitive</button>

        <div>
            <span>Level Filters</span>
            <button>V</button>
            <button>I</button>
            <button>D</button>
            <button>E</button>
        </div>
    </div>
</div>
