<audio
    #media
    crossorigin="anonymous"
    (timeupdate)="
        duration = media.duration || 100;
        currentTime = media.currentTime;
        progress = media.duration / media.currentTime;
    "
    (pause)="onPause()"
    (ended)="onEnd()"
    (progress)="onProgress()"
    >
</audio>

<app-visualizer *ngIf="showVisualizer" [mediaElement]="media"></app-visualizer>

<div class="overlay">
    <div class="nav-controls">
        <button mat-icon-button (click)="onPreviousTrack()"><mat-icon>skip_previous</mat-icon></button>

        <button mat-icon-button *ngIf="state != 'playing'" (click)="onPlay()"><mat-icon>play_arrow</mat-icon></button>
        <button mat-icon-button *ngIf="state == 'playing'" (click)="media.pause()"><mat-icon>pause</mat-icon></button>

        <button mat-icon-button (click)="onNextTrack()"><mat-icon>skip_next</mat-icon></button>
    </div>

    <div class="seeker">
        <div class="top">
            <div class="title">{{title || "no file specified"}}</div>
            <div class="duration" *ngIf="duration == 0">0:00:00</div>
            <div class="duration" *ngIf="duration != 0">{{numToString(currentTime)}}/{{numToString(duration)}}</div>
        </div>
        <div class="slider">
            <mat-slider>
                <input
                    #_slider
                    matSliderThumb
                    [min]="0"
                    [max]="100"
                    [value]="currentTime/duration*100"
                    (valueChange)="media.currentTime = currentTime = $event*duration/100"
                    (pointermove)="
                        currentTime = _slider.valueAsNumber*duration/100;
                        (
                            (media.currentTime - currentTime) > 3 ||
                            (media.currentTime - currentTime) < -3
                        ) ? media.currentTime = currentTime : null;
                    "
                >
            </mat-slider>
        </div>
        <!-- [value]="progress" (valueChange)="media.currentTime = media.duration*progress/100" -->
    </div>

    <div class="volume">
        <mat-icon *ngIf="volume <= .1">volume_mute</mat-icon>
        <mat-icon *ngIf="volume > .1 && volume < 50">volume_down</mat-icon>
        <mat-icon *ngIf="volume > 50">volume_up</mat-icon>

        <mat-slider>
            <input
                #_volume
                matSliderThumb
                [min]="0"
                [max]="100"
                [value]="volume"
                (wheel)="volumeOnWheel($event)"
                (pointermove)="volume = _volume.valueAsNumber; media.volume = (volume / 100)"
            >
        </mat-slider>
    </div>
    <!-- TODO: Equalizer -->
    <!-- <button><mat-icon>equalizer</mat-icon></button> -->

    <div class="controls">
        <button mat-icon-button (click)="isRepeating = !isRepeating">
            <mat-icon *ngIf="!isRepeating">repeat</mat-icon>
            <mat-icon *ngIf="isRepeating">repeat_on</mat-icon>
        </button>

        <button mat-icon-button (click)="isShuffling = !isShuffling">
            <mat-icon *ngIf="!isShuffling">shuffle</mat-icon>
            <mat-icon *ngIf="isShuffling">shuffle_on</mat-icon>
        </button>
    </div>
</div>
