:host, .root { 
    height: 100%;
    width: 100%;
    display: flex;
}

.windowManager {
    flex: 1;
    overflow: hidden;

    // https: //unsplash.com/photos/KNhVlMjkNjs
    background: url(https://unsplash.com/photos/KNhVlMjkNjs/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjYzMzc5ODAw&force=true);
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes fadeOut {
    from { opacity: 1;}
    to {opacity: 0;}
}