<div class="root taskbar-left">
    <div class="taskbar">
    <!-- <div class="taskbar" (mouseOut)="blurTaskbtn(item, $event)"> -->
        <div class="task-button" *ngFor="let item of taskbarItems"
            (click)="showMenu(item)"
            (hover)="showMenu(item)"
            >
            <!-- (click)="item.windows[item.windows.length-1]._isCollapsed = false" -->
            <div class="dots">
                <div class="dot"></div>
                <div class="dot" *ngIf="item.windows.length > 1"></div>
                <div class="dot" *ngIf="item.windows.length > 2"></div>
                <div class="dot" *ngIf="item.windows.length > 3"></div>
                <div class="dot" *ngIf="item.windows.length > 4"></div>
            </div>
            <div class="icon">
                <img [src]="item.windows[0].icon" />
            </div>

            <div class="tooltip">
                <div>
                    {{item.windows[0].description}}
                </div>
            </div>
            <div class="picker" *ngIf="item._isHovered">
                <div class="windowPreview" *ngFor="let window of item.windows">
                    <button class="close" (click)="closeWindow(window, $event)">
                        <img src="assets/icons/window-close-symbolic.svg" />
                    </button>
                    <div class="draggable">
                        <div class="window"
                            [style.width]="window.width + 'px'"
                            [style.height]="window.height + 'px'"
                            [style.transform]="calcScale(window)"
                            [innerHTML]="window._preview | urlSanitizer"
                            >
                        </div>
                    </div>
                    <div class="label">
                        {{window.title}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="windowManager" (click)="blurAllWindows()">
        <div class="cdk-drag-boundary"></div>
        <div class="cdk-overlay-pane">
            <div 
                #window
                *ngFor="let window of managedWindows"
                class="draggable" 
                cdkDrag 
                cdkDragBoundary=".cdk-drag-boundary" 
                [id]="'window_' + window.id"
                (cdkDragReleased)="onDragEnd(window, $event)"
                [cdkDragData]="{dragWindow: window, managedWindows, snapPx}"
                [cdkDragFreeDragPosition]="{x: window.x-64, y: window.y}"

                mwlResizable
                (resizeEnd)="onResizeEnd(window, $event)"
                (resizing)="onResizing(window, $event)"
                (click)="$event.preventDefault()"
                
                [class.active]="window._isActive"
                [class.draggedOver]="window._isDraggedOver"
                [class.maximized]="window._isMaximized"
                [class.collapsed]="window._isCollapsed"

                (mousedown)="activateWindow(window, $event)"
                [style.z-index]="window._index"
                [style.width]="window.width + 'px'"
                [style.height]="window.height + 'px'"
                >
                <!-- [style]="window._initialStyle" -->
            <!-- Collapsed windows will not render their contents
                -- to minimize the number of active DOM elements.
                -->
                <ng-container>
                    <div class="window">
                        <div cdkDragHandle class="titlebar">
                            <div class="other">
                                <!-- <ng-container *ngIf="titlebarTemplate; else defaultTitlebar">
                                    <ng-container *ngTemplateOutlet="titlebarTemplate"></ng-container>
                                </ng-container> -->
                    
                                <div *ngIf="window.title">{{window.title}}</div>
                                <div class="debug" *ngIf="environment.showDebugStats">
                                    <div>x: {{window.x}}</div>
                                    <div>width: {{window.width}}</div>
                                    <div>y: {{window.y}}</div>
                                    <div>height: {{window.height}}</div>
                                </div>
                                <!-- <ng-template #defaultTitlebar>
                                </ng-template> -->
                            </div>
                            <div class="controls" *ngIf="!window._isCollapsed">
                                <button (click)="collapseWindow(window, $event)"><img src="assets/icons/window-minimize-symbolic.svg" /></button>
                                <button (click)="(window._isMaximized ? minimizeWindow : maximizeWindow)(window, $event)"><img src="assets/icons/window-maximize-symbolic.svg" /></button>
                                <button class="close" (click)="closeWindow(window, $event)"><img src="assets/icons/window-close-symbolic.svg" /></button>
                            </div>
                        </div>
                        <div class="content">
                            <!-- CONTENT -->
                            <!-- {{window._isDraggedOver}} -->
                            <ng-template *ngIf="!window._isCollapsed && !window._isLoading" [cdkPortalOutlet]="window._portal" (attached)="injectPortal($event, window)" class="active"></ng-template>

                            <div *ngIf="window._isLoading">spinner...</div>
                        </div>
                    </div>

                    <div class="resizeHandles">
                        <div class="resize-handle-top"    mwlResizeHandle [resizeEdges]="{ top: true }"></div>
                        <div class="resize-handle-left"   mwlResizeHandle [resizeEdges]="{ left: true }"></div>
                        <div class="resize-handle-right"  mwlResizeHandle [resizeEdges]="{ right: true }"></div>
                        <div class="resize-handle-bottom" mwlResizeHandle [resizeEdges]="{ bottom: true }"></div>

                        <div class="resize-handle-top-left"     mwlResizeHandle [resizeEdges]="{ top: true, left: true }"></div>
                        <div class="resize-handle-top-right"    mwlResizeHandle [resizeEdges]="{ top: true, right: true }"></div>
                        <div class="resize-handle-bottom-left"  mwlResizeHandle [resizeEdges]="{ bottom: true, left: true }"></div>
                        <div class="resize-handle-bottom-right" mwlResizeHandle [resizeEdges]="{ bottom: true, right: true }"></div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
