<div class="root taskbar-{{taskbarPosition}}">
    <app-taskbar></app-taskbar>

    <div class="windowManager" 
        [style.background-image]="'url(' + wallpaper.value?.link + ')'"
    >
                    <!-- cdkDrag
                    cdkDragBoundary=".cdk-drag-boundary"
                    (cdkDragReleased)="window.onDragEnd($event)"
                    [cdkDragData]="{dragWindow: window, managedWindows: windowManager.managedWindows, snapPx: 5}"
                    [cdkDragFreeDragPosition]="{x: window.x-64, y: window.y}"
                    
                    mwlResizable
                    
                    (resizeEnd)="window.onResizeEnd($event)"
                    (resizing)="window.onResizing($event)" -->
            <app-window 
                *ngFor="let window of windowManager.managedWindows"
                [id]="'window_' + window.id"
                [window]="window"
                [data]="window.data"
                class="draggable" 


                (pointerDown)="window.activate()"
                
                [class.active]="window._isActive"
                [class.draggedOver]="window._isDraggedOver"
                [class.maximized]="window._isMaximized"
                [class.collapsed]="window._isCollapsed"

                [style.z-index]="window._index"
                [style.width]="window.width + 'px'"
                [style.height]="window.height + 'px'"
                [style.transform]="'translate3d(' + window.x + 'px, ' + window.y + 'px, 0)'"
                >
                <!-- [style]="window._initialStyle" -->
            <!-- Collapsed windows will not render their contents
                -- to minimize the number of active DOM elements.
                -->
            </app-window>

        <div class="wallpaper-credits">
            <div [innerHTML]="wallpaper.value?.credit"></div>
        </div>
    </div>
</div>
