<app-window-template [window]="windowRef">
    <ng-template #toolbar>
        <p>{{windowRef.data.filename}}</p>
        <button>save</button>
        <button>rename</button>
        <button>delete</button>
    </ng-template>
    <ng-template #content>
        <div class="content" [class.active]="windowRef._isActive">
            <mat-tab-group>
                <mat-tab *ngFor="let file of files" [label]="file.name">
                    <ngx-lazy-loader
                        component="vscode"
                        [inputs]="{
                            code: file.content
                        }"
                    />
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-template>
</app-window-template>
