:host {
    height: 100%;
}

.workspaces {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;

    .workspace {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .background-preview {
        display: inline-block;
        width: 32px;
        height: 32px;
        border: 1px solid #222;
        background-size: cover !important;
    }
}
