<div class="debug" *ngIf="false">
    <div>x: {{window.x}}</div>
    <div>width: {{window.width}}</div>
    <div>y: {{window.y}}</div>
    <div>height: {{window.height}}</div>
</div>

<div class="container">
    <!-- <div class="ellipse" [style.width]="window.width+'px'"> -->
        <div *ngIf="!template">{{window.title}}</div>
        <ng-container *ngIf="template">
            <ng-container *ngTemplateOutlet="template"></ng-container>
        </ng-container>
    <!-- </div> -->
</div>

<div class="controls" *ngIf="!window._isCollapsed">
    <button (click)="window.collapse()">
        <img src="assets/icons/window-minimize-symbolic.svg" />
    </button>
    <button (click)="window._isMaximized ? window.unmaximize() : window.maximize()">
        <img src="assets/icons/window-maximize-symbolic.svg" />
    </button>
    <button class="close" (click)="window.close()">
        <img src="assets/icons/window-close-symbolic.svg" />
    </button>
</div>

