:host {
    display: block;
    height: 64px;
}


:host ::ng-deep svg {
    stroke-width: 0.5px;
    height: 100%;
    width: 100%;

    path {
        stroke: url(#gradient);
        stroke-linecap: round;
    }
}

#def {
    position: absolute;
    top: -1000vh;
}
