<div class="window">
    <div class="content">
        <ngx-lazy-loader
            *ngIf="window"
            [component]="window.appId"
            [group]="'app'"
            [inputs]="inputs"
            (componentLoaded)="window.onInit($event);"
        />
    </div>
</div>

<div class="resizeHandles" *ngIf="window.isResizable">
    <div class="resize-handle top"    ></div>
    <div class="resize-handle left"   ></div>
    <div class="resize-handle right"  ></div>
    <div class="resize-handle bottom" ></div>

    <div class="resize-handle top-left"     ></div>
    <div class="resize-handle top-right"    ></div>
    <div class="resize-handle bottom-left"  ></div>
    <div class="resize-handle bottom-right" ></div>
</div>
