<ng-scrollbar
    style="height: 100%; width: 100%"
    track="vertical"
    pointerEventsMethod="scrollbar"
    [ngx-ctx-menu]="folderContextMenu"
>
    <div class="resize-observer" #fileViewport></div>
    <cdk-virtual-scroll-viewport
        itemSize="134"
        scrollViewport
        (click)="selectedItems = []; selectionText = ''"
    >
        <div class="row" *cdkVirtualFor="let row of sortedFolders">
            <div class="file"
                *ngFor="let item of row"
                [class.selected]="selectedItems.includes(item)"
                (click)="onSelect(item, $event)"
                (dblclick)="onItemClick(item)"

                [ngx-ctx-menu]="fileContextMenu"
                [ngx-ctx-menu-context]="item"
                [class.generic]="item['_icon'].needsBackdrop"
            >
                <img [src]="item['_icon'].path"/>
                <p>{{item.name}}</p>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
</ng-scrollbar>

<div class="select-hint" *ngIf="selectionText">
    {{selectionText}}
</div>
