<table>
    <tbody>
        <ng-container *ngFor="let item of items">
            <ng-container>

                <!-- A row with a click action -->
                <tr #row
                    *ngIf="item != 'seperator' && item['action']"
                    [class.disabled]="item.disabled"
                    (click)="!item.disabled && onMenuItemClick(item, row, $event)"
                    [class.hover]="item['children'] && row['hover']"
                    (pointerenter)="row['hover'] = true"
                    (pointerleave)="row['hover'] = false"
                >
                    <ng-template *ngTemplateOutlet="rowTemplate; context: {data: item}"></ng-template>
                </tr>

                <!-- A row with children -->
                <tr #row
                    *ngIf="item != 'seperator' && !item['action']"
                    [class.disabled]="item.disabled"
                    (click)="!item.disabled && onMenuItemClick(item, row, $event)"
                    [class.hover]="item['children'] && row['hover']"
                    (pointerenter)="row['hover'] = true"
                    (pointerleave)="row['hover'] = false"
                >
                    <ng-template *ngTemplateOutlet="rowTemplate; context: {data: item}"></ng-template>
                </tr>

                <tr class="hr" *ngIf="item == 'seperator'">
                    <td colspan="4"></td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>

<!-- Template for the row's contents -->
<ng-template #rowTemplate let-data="data">
    <td class="icon">
        <img *ngIf="matIconRx.test(data.icon); else matIcon" [src]="data.icon" />
        <ng-template #matIcon>
            <mat-icon [fontIcon]="data.icon"></mat-icon>
        </ng-template>
    </td>
    <td class="label" [innerHTML]="formatLabel(data.label)">
    </td>
    <td class="shortcut">
        {{data.shortcutLabel}}
    </td>
    <td>
        <mat-icon *ngIf="data.children || data.childTemplate">chevron_right</mat-icon>
    </td>
</ng-template>
