<app-window-template [window]="window">
    <ng-template #content>
        <h1>Osiris</h1>

        <div>Remote Desktop that just works</div>
        <p>
            Work with your remote system through your favorite browser in seconds
            -- touch-friendly, responsive, for all devices.
            <br />
            No more freezing, crashing, or struggling to move files.
            Directly stream video and audio files, without losing quality.

        </p>
        <div style="flex: 1"></div>
        <div >
            <!-- checkbox: show at startup -->

            <button mat-flat-button>Get started</button>
            <a href="https://github.com/knackstedt/osiris" target="_blank">
                <button mat-button>Learn more</button>
            </a>
        </div>
    </ng-template>
</app-window-template>
