<mat-progress-spinner *ngIf="!fileType" mode="indeterminate"></mat-progress-spinner>

<ng-container [ngSwitch]="fileType">
    <app-code-editor *ngSwitchCase="'text'" style="height: 100%" [windowData]="windowData">
    </app-code-editor>

    <app-video-player [data]="data" *ngSwitchCase="'video'"></app-video-player>

    <app-image-viewer></app-image-viewer>
    <ng-container *ngSwitchCase="'image'">
        <img [src]="getLink()">
        Image
        <button (click)="downloadFile()">Download</button>
    </ng-container>

    <ng-container *ngSwitchCase="'binary'">
        There is no editor for this type of file
        <button (click)="downloadFile()">Download</button>
    </ng-container>
    <!-- 
        .zip
        .tar
        .7z
        .rar
        etc...
    -->
    <ng-container *ngSwitchCase="'archive'">
        There is no editor for this type of file
        <button (click)="downloadFile()">Download</button>
    </ng-container>
</ng-container>