:host {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

app-monaco-editor {
    transition: opacity 200ms ease-in-out;

    &.resizing {
        opacity: 0
    }
}

.symbol {
    flex: 1;
    display: flex;
    align-items: center;
}
audio {
    width: 100%;    
}