<img src="pop_os.svg"/>

<div class="group">
  <div>
    <div>Device Name</div><div>pop-os</div>
  </div>
</div>
<div class="splitter"></div>
<div class="group">
  <div>
    <div>Hardware Model</div><div>ASUS System Product Name</div>
  </div>
  <div>
    <div>Memory</div><div>32.0 GiB</div>
  </div>
  <div>
    <div>Processor</div><div>AMD® Ryzen 9 3900xt 12-core processor × 24</div>
  </div>
  <div>
    <div>Graphics</div><div>NVIDIA Corporation GA102 [GeForce RTX 3090]</div>
  </div>
  <div>
    <div>Disk Capacity</div><div>1.2TB</div>
  </div>
</div>

<div class="splitter"></div>
<div class="group">
    <div>
    <div>OS Name</div><div>Pop!_OS 22.04 LTS</div>
  </div>
  <div>
    <div>OS Type</div><div>64-bit</div>
  </div>
  <div>
    <div>GNOME Version</div><div>42.2</div>
  </div>
  <div>
    <div>Windowing System</div><div>Anarchy</div>
  </div>
</div>
